* {
	margin: 0;
	padding: 0;
}
*, *:after, *:before {
	box-sizing: border-box;
}
ol, ul {
	list-style: none;
}
a {
	color: #000;
	text-decoration: none;
}
html {
	line-height: 1.2;
}
body {
	background-color: #fff;
	color: #333;
	font-family: "Lato", arial, sans-serif;
	font-size: 16px;
}
.container {
  padding: 16px;
}