@import url(https://fonts.googleapis.com/css?family=Lato);

header {
	background-color: #008877;
	box-shadow: 0 1px 0 rgba(0,0,0,.2);
	height: 50px;
}
.logo {
	color: #fff;
	font-size: 20px;
	line-height: 50px;
	padding: 0 0 0 20px;
	text-transform: capitalize;
}